[CostReport]
carNumber=49
university=McGill University
teamName=McGill Racing Team
year=2011
competitionName=Formula SAE Competition Michigan
competitionAbbrev=FSAEM
systems=BR,EN,FR,EL,MS,ST,SU,WT

[BR]
name=Brake System
colour=153, 204, 255

[EN]
name=Engine & Drivetrain
colour=204, 255, 204

[FR]
name=Frame & Body
colour=255, 153, 204

[EL]
name=Electronics, Controls & Wiring
colour=255, 204, 153

[MS]
name=Miscellaneous, Fit & Finish
colour=204, 153, 255

[ST]
name=Steering System
colour=255, 153, 0

[SU]
name=Suspension System
colour=255, 255, 0

[WT]
name=Wheels, Wheels Bearings & Tires
colour=204, 255, 255
